<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tarea2_24_enero.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20DF4791C55E4A000781DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20DF48D1C55E4A000781DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20DF4981C55E4A000781DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
